NiFi-jythonscripts/sample-templates/Collect-Split-Load_Sample.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>016b114d-39cc-182b-2b7d-8b9288647c03</groupId>
    <name>Collect-Split-Load Sample</name>
    <snippet>
        <connections>
            <id>bfda0828-667f-35ed-0000-000000000000</id>
            <parentGroupId>511f3a94-cc2b-318c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                <id>dc51ec23-a5fa-3d96-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                <id>9859c288-c310-37c8-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f4a03688-69cd-3300-0000-000000000000</id>
            <parentGroupId>511f3a94-cc2b-318c-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                <id>dcf1685c-aef3-355b-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                <id>e6470f6c-5a39-372f-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processGroups>
            <id>922ec582-ce40-36dc-0000-000000000000</id>
            <parentGroupId>511f3a94-cc2b-318c-0000-000000000000</parentGroupId>
            <position>
                <x>5.38116455078125</x>
                <y>266.95062255859375</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>68e33493-fe7b-3500-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                        <id>b703d279-3f35-355b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                        <id>dc51ec23-a5fa-3d96-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a3b96fde-5fe8-3799-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                        <id>672ffecc-1246-3f1a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                        <id>b703d279-3f35-355b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bf3a1ec5-e596-385d-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                        <id>e6470f6c-5a39-372f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>922ec582-ce40-36dc-0000-000000000000</groupId>
                        <id>b703d279-3f35-355b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>dc51ec23-a5fa-3d96-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <position>
                        <x>350.00000170519115</x>
                        <y>54.00000113624358</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>pythonsplitter</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>e6470f6c-5a39-372f-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <position>
                        <x>355.8948595373249</x>
                        <y>470.76347298537615</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>672ffecc-1246-3f1a-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <position>
                        <x>881.0408342247224</x>
                        <y>217.66920584815762</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>b703d279-3f35-355b-0000-000000000000</id>
                    <parentGroupId>922ec582-ce40-36dc-0000-000000000000</parentGroupId>
                    <position>
                        <x>300.00000170519115</x>
                        <y>212.00000113624355</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                            <entry>
<key>log_dir</key>
<value>
    <name>log_dir</name>
</value>
                            </entry>
                            <entry>
<key>log_suffix</key>
<value>
    <name>log_suffix</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>python</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>/home/eva/user/sdi/IrisSplitter-NiFi.py</value>
                            </entry>
                            <entry>
<key>Script Body</key>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>/home/eva/lib,/home/eva/user/sdi</value>
                            </entry>
                            <entry>
<key>log_dir</key>
<value>/home/eva/user/sdi/log</value>
                            </entry>
                            <entry>
<key>log_suffix</key>
<value>splittest</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>IrisSplitter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
            </contents>
            <name>PythonSplitter</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>e194242c-bfef-3cdd-0000-000000000000</id>
            <parentGroupId>511f3a94-cc2b-318c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1a63809b-0636-3024-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>944539a5-0707-39cd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>b6de78dc-3d9e-3b41-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>32d6052b-79fb-3fc0-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>41e59f99-f7b3-3204-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>944539a5-0707-39cd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a47d5b72-0f24-3a33-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>f7d7bcb6-dd84-38f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>comms.failure</selectedRelationships>
                    <selectedRelationships>not.found</selectedRelationships>
                    <selectedRelationships>permission.denied</selectedRelationships>
                    <source>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>944539a5-0707-39cd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f4b24d6b-1034-30bb-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>9859c288-c310-37c8-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e194242c-bfef-3cdd-0000-000000000000</groupId>
                        <id>41e59f99-f7b3-3204-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>9859c288-c310-37c8-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1785.3341805974726</x>
                        <y>775.9627140735431</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>CollectedFileOutput</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>41e59f99-f7b3-3204-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1725.7334287081958</x>
                        <y>576.08914077415</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ctl_path</key>
<value>
    <name>ctl_path</name>
</value>
                            </entry>
                            <entry>
<key>field_seperator</key>
<value>
    <name>field_seperator</name>
</value>
                            </entry>
                            <entry>
<key>key_column_name</key>
<value>
    <name>key_column_name</name>
</value>
                            </entry>
                            <entry>
<key>partition_column_name</key>
<value>
    <name>partition_column_name</name>
</value>
                            </entry>
                            <entry>
<key>save_path</key>
<value>
    <name>save_path</name>
</value>
                            </entry>
                            <entry>
<key>storage_type</key>
<value>
    <name>storage_type</name>
</value>
                            </entry>
                            <entry>
<key>tablename</key>
<value>
    <name>tablename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>ctl_path</key>
<value>/home/eva/ctl_files/IRIS_LOAD_TEST3.ctl</value>
                            </entry>
                            <entry>
<key>field_seperator</key>
<value>,</value>
                            </entry>
                            <entry>
<key>key_column_name</key>
<value>A_KEY</value>
                            </entry>
                            <entry>
<key>partition_column_name</key>
<value>DATETIME</value>
                            </entry>
                            <entry>
<key>save_path</key>
<value>/home/eva/dstdir</value>
                            </entry>
                            <entry>
<key>storage_type</key>
<value>file</value>
                            </entry>
                            <entry>
<key>tablename</key>
<value>NIFI_LOAD_TEST</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>944539a5-0707-39cd-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1727.9443002984706</x>
                        <y>371.18010426623255</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>
    <name>Remote File</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>192.168.203.227</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>22</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>eva</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>comms.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchSFTP</type>
                </processors>
                <processors>
                    <id>b6de78dc-3d9e-3b41-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1729.5258866702518</x>
                        <y>173.85672965362983</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>
    <name>Search Recursively</name>
</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>
    <name>follow-symlink</name>
</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>
    <name>File Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
<value>
    <name>Path Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>
    <name>Ignore Dotted Files</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>192.168.203.227</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>22</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>eva</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>/home/eva/virtual_data</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>false</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>false</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>\w+\.dat</value>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#4894c7</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.ListSFTP</type>
                </processors>
                <processors>
                    <id>f7d7bcb6-dd84-38f6-0000-000000000000</id>
                    <parentGroupId>e194242c-bfef-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1110.2784874982256</x>
                        <y>370.65197211404507</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <name>collect_file_group</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>fa81b484-186b-3f7f-0000-000000000000</id>
            <parentGroupId>511f3a94-cc2b-318c-0000-000000000000</parentGroupId>
            <position>
                <x>4.937441507474432</x>
                <y>543.1076418810474</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>43bbb137-d6b6-3440-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                        <id>176455c6-9e92-31e5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                        <id>a20a57a3-04a6-3890-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7335102a-880b-3f5a-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                        <id>a20a57a3-04a6-3890-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                        <id>dcf1685c-aef3-355b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>85d65d35-0bba-3452-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                        <id>f022084a-c6c5-3e15-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>fa81b484-186b-3f7f-0000-000000000000</groupId>
                        <id>a20a57a3-04a6-3890-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>dcf1685c-aef3-355b-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>451.99998858525714</x>
                        <y>92.99998850115378</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>176455c6-9e92-31e5-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>393.9999994407342</x>
                        <y>479.9999837798031</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>a20a57a3-04a6-3890-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>393.99998858525714</x>
                        <y>238.99998850115378</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                            <entry>
<key>ctl_path</key>
<value>
    <name>ctl_path</name>
</value>
                            </entry>
                            <entry>
<key>db</key>
<value>
    <name>db</name>
</value>
                            </entry>
                            <entry>
<key>direct</key>
<value>
    <name>direct</name>
</value>
                            </entry>
                            <entry>
<key>error_path</key>
<value>
    <name>error_path</name>
</value>
                            </entry>
                            <entry>
<key>field_sep</key>
<value>
    <name>field_sep</name>
</value>
                            </entry>
                            <entry>
<key>ip</key>
<value>
    <name>ip</name>
</value>
                            </entry>
                            <entry>
<key>log_dir</key>
<value>
    <name>log_dir</name>
</value>
                            </entry>
                            <entry>
<key>log_suffix</key>
<value>
    <name>log_suffix</name>
</value>
                            </entry>
                            <entry>
<key>port</key>
<value>
    <name>port</name>
</value>
                            </entry>
                            <entry>
<key>process_id</key>
<value>
    <name>process_id</name>
</value>
                            </entry>
                            <entry>
<key>pwd</key>
<value>
    <name>pwd</name>
</value>
                            </entry>
                            <entry>
<key>record_sep</key>
<value>
    <name>record_sep</name>
</value>
                            </entry>
                            <entry>
<key>remove</key>
<value>
    <name>remove</name>
</value>
                            </entry>
                            <entry>
<key>timeout</key>
<value>
    <name>timeout</name>
</value>
                            </entry>
                            <entry>
<key>user</key>
<value>
    <name>user</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>python</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>/home/eva/user/sdi/IrisLoader-NiFi.py</value>
                            </entry>
                            <entry>
<key>Script Body</key>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>/home/eva/lib,/home/eva/user/sdi</value>
                            </entry>
                            <entry>
<key>ctl_path</key>
<value>/home/eva/ctl_files/IRIS_LOAD_TEST3.ctl</value>
                            </entry>
                            <entry>
<key>db</key>
<value>cheerupdi</value>
                            </entry>
                            <entry>
<key>direct</key>
<value>false</value>
                            </entry>
                            <entry>
<key>error_path</key>
<value>/home/eva/error_path</value>
                            </entry>
                            <entry>
<key>field_sep</key>
<value>,</value>
                            </entry>
                            <entry>
<key>ip</key>
<value>192.168.100.180</value>
                            </entry>
                            <entry>
<key>log_dir</key>
<value>/home/eva/user/sdi/log</value>
                            </entry>
                            <entry>
<key>log_suffix</key>
<value>Test</value>
                            </entry>
                            <entry>
<key>port</key>
<value>5050</value>
                            </entry>
                            <entry>
<key>process_id</key>
<value>016b11ae-39cc-182b-a6ec-49fd45fcd8d6</value>
                            </entry>
                            <entry>
<key>pwd</key>
<value>cheerupdi.</value>
                            </entry>
                            <entry>
<key>record_sep</key>
<value>
</value>
                            </entry>
                            <entry>
<key>remove</key>
<value>true</value>
                            </entry>
                            <entry>
<key>timeout</key>
<value>300</value>
                            </entry>
                            <entry>
<key>user</key>
<value>cheerupdi</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteIrisLoadScript</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
                <processors>
                    <id>f022084a-c6c5-3e15-0000-000000000000</id>
                    <parentGroupId>fa81b484-186b-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1026.9999994407342</x>
                        <y>264.9999837798031</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <name>IrisLoader_Jython</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/02/2019 10:15:19 KST</timestamp>
</template>
